#container-box {
	width: 500px;
	height: 800px;
	margin: auto;
	padding:0;
	background-color: #fff;
	display:flex;
	flex-direction: column;
}

.item-box {
	text-align: center;
	padding: 0;
}

.double-row {
flex-grow: 2;
}

.single-row {
flex-grow: 1;
}

#icon-box {
  background-color: teal;
  display: table-cell;

}

#icon-box img {
  width: 100px;
	height: 100px;
	border: solid 0.5px gray;
	border-radius: 25px;
}

#title-box>h1 {
	font-weight: 70;
}

#app-inputs-top, #app-inputs-bottom  {
	border: solid 0.75px gray;
	width: 90%;
	margin: auto;
  padding: 9px;
}

#app-inputs-top {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;}

#app-inputs-bottom {
	border-top: 0;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

label {
  width: 25%;
  display: inline-block;
  text-align: left;
  font-weight: 70;
  padding-right: 0;
}

input[type=text], input[type=password] {
    caret-color: #4CAF50;
		border: 0;
    padding-left: 0;
    color: lightgray;
}

button {
    background-color: #ffffff;
    color: #4c4c4c;
    border: none;
    cursor: pointer;
}

.activeButton {
   border: none;
    cursor: pointer;
   color: #4CAF50;
}
